<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>活动</title>
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
    <style>
        [v-cloak] {
            display: none;
        }

        body {
            background-color: #FFFFFF;
            min-height: auto;
        }

        .empty {
            background-color: #FFFFFF;
            min-height: auto;
        }

        ul {
            min-height: 100vh;
        }

        li {
            padding: 10px 20px;
            border-bottom: 1px solid #CCCCCC;
            font-size: 16px;
            font-weight: bold;
            color: #333333;
            display: flex;
            align-items: center;
        }

        li .logoBox {
            height: 50px;
            width: 100px;
            margin-right: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        li .logoBox .logo {
            height: 100%;
        }
    </style>
</head>

<body>
    <div class="empty" id="app" v-cloak>
        <template id="" v-if="network">
        <ul v-if="list.length">
            <li v-for="(item,index) in list" @click="fnOpenCompany_win(item.cid)">
                <div class="logoBox">
                    <img class="logo" :src="item.c_cover+'?x-oss-process=image/format,jpg/interlace,1/quality,q_50'" alt="">
                </div>
                 <span>{{item.c_name}}</span>
            </li>
        </ul>
        <div v-else class="noWin">
            <div><i class="iconfont icon-zanwushuju"></i></div>
            <div class="">
                <span>暂无数据</span>
            </div>
        </div>
        <div v-if="list.length" class="getMoreBox">
            <img v-show="!noMore" src="../image/loading.gif" alt="">
            <span>{{noMore?"我也是有底线的哟...":"加载更多"}}</span>
        </div>
    </template>

        <div v-if="!network" class="noNetWork">
            <div><i class="iconfont icon-duankailianjie"></i></div>
            <div class="">
                <span>网络连接已断开</span>
            </div>
            <div class="refBtn" @click="fnClickRefresh">刷新</div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/aui-toast.js"></script>
<script type="text/javascript" src="../script/common.js"></script>
<script type="text/javascript" src="../script/vue.min.js"></script>
<script type="text/javascript">
    apiready = function() {
        var requedtFlag = false;
        var app = new Vue({
            el: '#app',
            data: {
                network: true,
                name: api.pageParam.name,
                tid: api.pageParam.tid,
                city: api.pageParam.city,
                list: [],
                offset: 0,
                limit: 50,
                noMore: false
            },
            mounted: function() {
                this.fnCustomRefresh();
                this.fnUprequset();
                this.fnGetList();
                var _this = this;
                //监听网络状态
                fnAppNetwork(function() {}, function() {
                    _this.network = true;
                    _this.offset = 0;
                    _this.fnGetList();
                })
            },
            methods: {
                //点击刷新
                fnClickRefresh() {
                    this.offset = 0;
                    this.noMore = false;
                    this.fnGetList("down");
                },
                //下拉刷新
                fnCustomRefresh: function() {
                    var _this = this;
                    api.setCustomRefreshHeaderInfo({
                        image: {
                            pull: ['widget://image/11.png', 'widget://image/20.png', 'widget://image/3.png', 'widget://image/4.png', 'widget://image/5.png', 'widget://image/6.png', 'widget://image/7.png',
                                'widget://image/8.png'
                            ],
                            load: ['widget://image/8.png', 'widget://image/7.png', 'widget://image/6.png', 'widget://image/5.png', 'widget://image/4.png', 'widget://image/3.png', 'widget://image/20.png',
                                'widget://image/11.png'
                            ]
                        },
                        bgColor: '#f5f5f5',
                    }, function() {
                        _this.offset = 0;
                        _this.noMore = false;
                        _this.fnGetList("down");
                    });
                },
                //上拉加载
                fnUprequset: function() {
                    var _this = this;
                    api.addEventListener({  
                        name: 'scrolltobottom',
                         extra: {      
                            threshold: -100      
                        }
                    }, function(ret, err) { 
                        _this.fnGetList("up");
                    });
                },
                //获取列表
                fnGetList: function(type) {
                    if (requedtFlag) {
                        return;
                    }
                    requedtFlag = true;
                    var _this = this;
                    type ? "" : showProgress();
                    // type == "down" ? : '';
                    ajax('home/twoNav', {
                        tid: 106,
                        type: '1', //是否是查询公司
                        city: _this.city,
                        offset: _this.offset,
                        limit: _this.limit
                    }, function(res) {
                        requedtFlag = false;
                        hideProgress();
                        api.refreshHeaderLoadDone();
                        if (res.code == 10000) {
                            if (type == "up") {
                                if (res.msg.length != 0) {
                                    _this.offset = _this.offset + res.msg.length;
                                    _this.list = _this.list.concat(res.msg);
                                } else {
                                    _this.noMore = true;
                                }
                            } else {
                                _this.offset = _this.offset + res.msg.length;
                                _this.list = res.msg;
                            }
                            //过滤掉store_count为0 的公司
                            var arr = _this.list;
                            var newArr = arr.filter(item => item.store_count != 0);
                            _this.list = newArr;
                        } else {
                            messageToast(res.errMsg)
                        }
                    }, function(res) {
                        requedtFlag = false;
                        api.refreshHeaderLoadDone();
                        hideProgress();
                        messageToast(ERRMSG)
                    }, function(res) {
                        requedtFlag = false;
                        hideProgress();
                        api.refreshHeaderLoadDone();
                        _this.network = false;
                    })
                },
                fnOpenCompany_win: function(cid) {
                    var _this = this;
                    api.openWin({
                        name: 'company_win',
                        url: './company_win.html',
                        pageParam: {
                            city: _this.city,
                            name: _this.name,
                            cid: cid
                        }
                    });

                }

            }
        })
    }
</script>

</html>
