<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>index</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" href="../css/iconfont.css">
    <style>
        [v-cloak] {
            display: none;
        }

        body {
            background-color: #F4F4F4;
            height: auto;
            padding-bottom: 15px;
        }

        .empty {
            min-height: 100vh;
            background-color: #F4F4F4;
        }

        .listBox {
            padding: 15px;
            background-color: #FFF;
            border-bottom: 1px solid #EDEDED;
            display: -webkit-box;
            line-height: 14px;
        }

        .listBox .name {
            font-size: 14px;
            color: #333333;
        }

        .listBox .value {
            -webkit-box-flex: 1;
            color: #333;
            font-size: 14px;
            text-align: right;
            padding: 0 15px;
        }

        .listBox .icon-you {
            font-size: 14px;
            color: #9B9B9B;
        }

        .messBox .name {
            color: #989898;
        }

        .messBox .value {
            color: #666666;
        }

        .money {
            color: #137696!important;
            font-size: 15px!important;
        }

        .value input {
            width: 100%;
            height: 100%;
            font-size: 14px;
            text-align: right;
            color: #9B9B9B;
        }

        .inputbox .value {
            padding: 0 0 0 15px;
        }

        .subBox {
            margin-top: 15px;
        }

        .titMess {
            margin-top: 15px;
            font-size: 12px;
            color: #999999;
            text-align: center;
        }

        .btn {
            width: calc(100vw - 60px);
            height: 49px;
            line-height: 49px;
            text-align: center;
            border-radius: 5px;
            color: white;
            background: #0096C8;
            margin: auto;
            margin-top: 15px;
        }
    </style>
</head>

<body>
    <div class="empty" id="app" v-cloak>
        <template v-if="network">
        <div class="imgBox">
            <img :src="imgCover" alt="">
        </div>
        <div class="messBox">
            <div class="listBox inputbox">
                <div class="name">商品名称</div>
                <div class="value">
                    {{name}}
                </div>
            </div>
            <div class="listBox inputbox">
                <div class="name">兑换数量</div>
                <div class="value">
                    1件
                </div>
            </div>
            <div class="listBox inputbox" v-if="price">
                <div class="name">兑换积分</div>
                <div class="value money">
                    {{price}}积分
                </div>
            </div>
        </div>
        <div class="titMess">完善收货信息</div>
        <div class="subBox">
            <div class="listBox inputbox">
                <div class="name">收货人姓名</div>
                <div class="value"><input type="text" name="" v-model="contact" placeholder="请填写联系姓名"></div>
            </div>
            <div class="listBox inputbox">
                <div class="name">联系电话</div>
                <div class="value"><input type="number" name="" v-model="phone"placeholder="请填写联系电话"></div>
            </div>
            <div class="listBox" @click='fnChooseAddr'>
                <div class="name">收货地区</div>
                <div class="value">{{addr?addr:'请选择'}}</div>
                <i class="iconfont icon-you"></i>
            </div>
            <div class="listBox inputbox">
                <div class="name">详细地址</div>
                <div class="value"><input type="text" name="" v-model="detailAddr" placeholder="请输入详细地址"></div>
            </div>
        </div>
        <div class="btn" @click="fnSub">确认兑换</div>
        </template>
        <div v-if="!network" class="noNetWork">
            <div><i class="iconfont icon-duankailianjie"></i></div>
            <div class="">
                <span>网络连接已断开</span>
            </div>
            <div class="refBtn" @click="fnClickRefresh">刷新</div>
        </div>
    </div>
</body>

</html>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/aui-toast.js"></script>
<script type="text/javascript" src="../script/common.js"></script>
<script type="text/javascript" src="../script/vue.min.js"></script>
<script type="text/javascript">
    apiready = function() {
        var app = new Vue({
            el: '#app',
            data: {
                network: true,
                gid: api.pageParam.gid,
                imgCover: api.pageParam.imgCover,
                name: api.pageParam.name,
                price: api.pageParam.price,
                contact: '',
                phone: '',
                detail: '',
                addr: '',
                detailAddr: ''
            },
            mounted: function() {
                var _this = this;
                //监听网络状态
                fnAppNetwork(function() {}, function() {
                    _this.network = true;
                })
                this.fnCustomRefresh();
            },
            methods: {
                //点击刷新
                fnClickRefresh() {
                    this.noMore = false;
                    this.fnGetList("down");
                },
                //下拉刷新
                fnCustomRefresh: function() {
                    var _this = this;
                    api.setCustomRefreshHeaderInfo({
                        image: {
                            pull: ['widget://image/11.png', 'widget://image/20.png', 'widget://image/3.png', 'widget://image/4.png', 'widget://image/5.png', 'widget://image/6.png', 'widget://image/7.png',
                                'widget://image/8.png'
                            ],
                            load: ['widget://image/8.png', 'widget://image/7.png', 'widget://image/6.png', 'widget://image/5.png', 'widget://image/4.png', 'widget://image/3.png', 'widget://image/20.png',
                                'widget://image/11.png'
                            ]
                        },
                        bgColor: '#f5f5f5',
                    }, function() {
                        _this.fnGetDetail("down");
                    });
                },
                //点击提交
                fnSub() {
                    if (!this.contact) {
                        messageToast('请填写收货人姓名')
                    } else if (!this.phone) {
                        messageToast('请输入电话号码')
                    } else if (!(/^1(3|4|5|7|8|9)[\d]{9}$/.test(this.phone))) {
                        messageToast('电话号码格式有误')
                    } else if (!this.addr) {
                        messageToast('请选择收货地区')
                    } else if (!this.detailAddr) {
                        messageToast('请输入详细地址')
                    } else {
                        if (this.price) { //有价格=>商城兑换
                            var _this = this;
                            showProgress();
                            ajax('integralMall/createdOrder', {
                                gid: _this.gid,
                                num: 1,
                                receive_addr: _this.addr + _this.detailAddr,
                                contacts: _this.contact,
                                phone: _this.phone,
                            }, function(res) {
                                hideProgress();
                                api.refreshHeaderLoadDone();
                                if (res.code == 10000) {
                                    api.sendEvent({
                                        name: 'exchangeSuccess',
                                        extra: {
                                        }
                                    });
                                    api.confirm({
                                        title: '提示',
                                        msg: '兑换成功，查看我的积分订单',
                                        buttons: ['查看', '返回']
                                    }, function(ret, err) {
                                        if (ret) {
                                            if (ret.buttonIndex == 1) {
                                                api.openWin({
                                                    name: 'integralOrder_win',
                                                    url: './integralOrder_win.html',
                                                    pageParam: {}
                                                });
                                            } else {
                                                api.closeWin({});
                                            }

                                        } else {
                                            alert(JSON.stringify(err));
                                        }
                                    });
                                } else {
                                    messageToast(res.errMsg)
                                }
                            }, function(res) {
                                api.refreshHeaderLoadDone();
                                hideProgress();
                                messageToast(ERRMSG)
                            }, function(res) {
                                hideProgress();
                                api.refreshHeaderLoadDone();
                                _this.network = false;
                            })
                        } else {
                            var _this = this;
                            showProgress();
                            ajax('redemption', {
                                did: _this.gid,
                                receive_addr: _this.addr + _this.detailAddr,
                                contacts: _this.contact,
                                phone: _this.phone,
                            }, function(res) {
                                hideProgress();
                                api.refreshHeaderLoadDone();
                                if (res.code == 10000) {
                                    api.sendEvent({
                                        name: 'exchangeSuccess',
                                        extra: {
                                            key1: 'value1',
                                            key2: 'value2'
                                        }
                                    });
                                    successToast('兑换成功');
                                    setTimeout(function(){
                                        api.closeWin({});
                                    },1500)

                                } else {
                                    messageToast(res.errMsg)
                                }
                            }, function(res) {
                                api.refreshHeaderLoadDone();
                                hideProgress();
                                messageToast(ERRMSG)
                            }, function(res) {
                                hideProgress();
                                api.refreshHeaderLoadDone();
                                _this.network = false;
                            })
                        }
                    }
                },
                //选择地址
                fnChooseAddr() {
                    //打开城市选择
                    var _this = this;
                    var UIActionSelector = api.require('UIActionSelector');
                    UIActionSelector.open({
                        datas: 'widget://res/city_subOrder.json',
                        layout: {
                            row: 7,
                            col: 3,
                            height: 30,
                            size: 12,
                            sizeActive: 14,
                            rowSpacing: 5,
                            colSpacing: 10,
                            maskBg: 'rgba(0,0,0,0.2)',
                            bg: '#fff',
                            color: '#9B9B9B',
                            colorActive: '#f00',
                            colorSelected: '#0097CB'
                        },
                        actives: [0, 0],
                        animation: true,
                        cancel: {
                            text: '取消',
                            size: 12,
                            w: 90,
                            h: 35,
                            bg: '#fff',
                            bgActive: '#ccc',
                            color: '#888',
                            colorActive: '#fff'
                        },
                        ok: {
                            text: '确定',
                            size: 12,
                            w: 90,
                            h: 35,
                            bg: '#fff',
                            bgActive: '#ccc',
                            color: '#888',
                            colorActive: '#fff'
                        },
                        title: {
                            text: '请选择',
                            size: 12,
                            h: 44,
                            bg: '#eee',
                            color: '#888'
                        },
                        fixedOn: api.frameName
                    }, function(ret, err) {
                        if (ret) {
                            if (ret.eventType == "ok") {
                                var value;
                                if (ret.level2 == "市辖区" || ret.level2 == "县") {
                                    value = ret.level1;
                                } else {
                                    value = ret.level2;
                                }
                                _this.addr = value + ret.level3;
                            }
                        } else {
                            alert(JSON.stringify(err));
                        }
                    });

                },

            }
        })


    }
</script>
