<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>index</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" href="../css/iconfont.css">
    <style>
        [v-cloak] {
            display: none;
        }

        body {
            background-color: #FFFFFF;
            height: auto;
        }

        .empty {
            min-height: 100vh;
            background-color: #FFFFFF;
            padding: 15px;
        }

        .con3 {
            min-height: calc(100vh - 50vw);
            position: relative;
        }

        .con3 img {
            width: 100%;
            border-radius: 8px;
        }

        .con3 .tit {
            font-size: 14px;
            padding: 10px 20px;
            color: #666;
        }
    </style>
</head>

<body>
    <div class="empty" id="app">
        <template id="" v-if="network">
        <div class="con3" >
            <div v-for="(item,index) in list" @click="fnOpenImg(index)">
                <img :src="item.content+'?x-oss-process=image/format,jpg/interlace,1/quality,q_80'" alt="">
                <div class="tit">{{item.tilte}}</div>
            </div>

            <div v-if="!list.length" class="noWin">
                <div><i class="iconfont icon-zanwushuju"></i></div>
                <div class="">
                    <span>暂无分类数据</span>
                </div>
            </div>
        </div>
        <div v-if="list.length" class="getMoreBox">
            <img v-show="!noMore" src="../image/loading.gif" alt="">
            <span>{{noMore?"我也是有底线的哟...":"加载更多"}}</span>
        </div>
    </template>

    <div v-if="!network" class="noNetWork">
        <div><i class="iconfont icon-duankailianjie"></i></div>
        <div class="">
            <span>网络连接已断开</span>
        </div>
        <div class="refBtn" @click="fnClickRefresh">刷新</div>
    </div>
    </div>
</body>

</html>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/aui-toast.js"></script>
<script type="text/javascript" src="../script/common.js"></script>
<script type="text/javascript" src="../script/vue.min.js"></script>
<script type="text/javascript">
    var requedtFlag = false;
    apiready = function() {
        var app = new Vue({
            el: '#app',
            data: {
                network: true,
                pid: api.pageParam.pid,
                pType:api.pageParam.pType, // 1=>公司  2=>品牌
                list: [],
                offset: 0,
                limit: 10,
                noMore: false,
            },
            mounted: function() {
                this.fnGetList();
                this.fnUprequset();
                this.fnCustomRefresh();
                var _this = this;
                //监听网络状态
                fnAppNetwork(function() {}, function() {
                    _this.network = true;
                    _this.offset = 0;
                    _this.fnGetList();
                })
            },
            methods: {
                //点击刷新
                fnClickRefresh() {
                    this.offset = 0;
                    this.noMore = false;
                    this.fnGetList("down");
                },
                //下拉刷新
                fnCustomRefresh: function() {
                    var _this = this;
                    api.setCustomRefreshHeaderInfo({
                        image: {
                            pull: ['widget://image/11.png', 'widget://image/20.png', 'widget://image/3.png', 'widget://image/4.png', 'widget://image/5.png', 'widget://image/6.png', 'widget://image/7.png',
                                'widget://image/8.png'
                            ],
                            load: ['widget://image/8.png', 'widget://image/7.png', 'widget://image/6.png', 'widget://image/5.png', 'widget://image/4.png', 'widget://image/3.png', 'widget://image/20.png',
                                'widget://image/11.png'
                            ]
                        },
                        bgColor: '#f5f5f5',
                    }, function() {
                        _this.offset=0;
                        _this.fnGetList("down");
                    });
                },
                //上拉加载
                fnUprequset: function() {
                    var _this = this;
                    api.addEventListener({  
                        name: 'scrolltobottom',
                         extra: {      
                            threshold: -100      
                        }
                    }, function(ret, err) { 
                        _this.fnGetList("up");
                    });
                },
                //获取品牌产品分类列表
                fnGetList: function(type) {
                    if (requedtFlag) {
                        return;
                    }
                    requedtFlag = true;
                    var _this = this;
                    type ? "" : showProgress();
                    var url  = this.pType==2?'home/bProductTypeList':'home/cProductTypeList';
                    ajax(url, {
                        type: _this.pid,
                        offset: _this.offset,
                        limit: _this.limit
                    }, function(res) {
                        requedtFlag = false;
                        hideProgress();
                        api.refreshHeaderLoadDone();
                        if (res.code == 10000) {
                            if (type == "up") {
                                if (res.msg.length != 0) {
                                    _this.offset = _this.offset + res.msg.length;
                                    _this.list = _this.list.concat(res.msg);
                                } else {
                                    _this.noMore = true;
                                }
                            } else {
                                _this.offset = _this.offset + res.msg.length;
                                _this.list = res.msg;
                            }
                        } else {
                            messageToast(res.errMsg)
                        }
                    }, function(res) {
                        requedtFlag = false;
                        api.refreshHeaderLoadDone();
                        hideProgress();
                        messageToast(ERRMSG)
                    }, function(res) {
                        requedtFlag = false;
                        hideProgress();
                        api.refreshHeaderLoadDone();
                        _this.network = false;
                    })
                },
                fnOpenImg: function(index) {
                    var _this = this;
                    var imageUrls = _this.list.map(item => {
                        return item.content;
                    })
                    fnOpenPhotoBrowser(imageUrls, index)
                },
            }
        })


    }
</script>
